	h1{
			text-align: center;
		}
		h3{
			text-align: right;
		}
		h4{
			text-align: center;
		}
		p {
			text-align:center;
		}
		div{
			padding: 7px;
		}
		img{
			align-self: center;
			height: 150px;
			width: 150px;
		}
		.column{
			float: left;
			margin-right: 16px;
			width: 20%;
			margin: 10px;
		}
		.card{
			box-shadow: 0px 4px 8px 0 #99ff66;
			padding: 0 16px 0 16px;
			
		}

		#nav{
			text-align: center;
			margin: auto;
		}